* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1440px;
}

.discount {
    width: 48px;
    height: 48px;
    background: #FC2828;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

body {
    font-family: 'Montserrat';
    overflow-x: hidden;
    color: #372e2e;
}